 
 
 * {
    padding: 0;
    margin: 0;

 }

 html {
    overflow-x: hidden; 

 }

 body {
    overflow-x: hidden; 
 }

.fundo {
    background:url('assets/images/loja-topo-gradiente.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}

.texto-fundo-tamanho {
    font-size: 35px;
    display: block;
}

.menu-bar-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

@media screen and (min-width: 280px)  and (max-width: 600px){
    .menu-bar-topo {
        font-size: 0.8rem;
    }
  }

.menu-bar-topo a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.menu-bar-topo a:hover {
    text-decoration: underline;
}