* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.fundo {
  background: url("../assets/images/foto-loja.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.fundo-azul {
  background-color: #365a96;
  font-size: 30px;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
  .fundo-azul {
    font-size: 21px;
  }
}

.fundo-vermelho {
  background-color: #ca171d;
  font-size: 18px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
}

.card {
  width: 240px;
  height: 240px;
  margin: 10px 0px;
}

.card:hover {
  cursor: pointer;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.c-1-fundo {
  background: url("../assets/images/suspensao.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-2-fundo {
  background: url("../assets/images/mecanica.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-3-fundo {
  background: url("../assets/images/group-20.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-4-fundo {
  background: url("../assets/images/pecas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-5-fundo {
  background: url("../assets/images/alinhamento.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-6-fundo {
  background: url("../assets/images/pneu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-escolher-servico {
  background-color: #ca171d;
  color: white;
}

.btn-escolher-servico:hover {
  background-color: rgb(172, 1, 1) !important ;
  color: white;
}

.fundo-conheca-nosso-espaco {
  background-color: #253c65;
  font-size: 40px;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
  .fundo-conheca-nosso-espaco {
    font-size: 24px;
  }
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-help {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.label-avaliacao {
  font-size: 50px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
  .label-avaliacao {
    font-size: 25px;
  }
}

.avaliacao {
  border: 1px solid black;
  height: 200px;
  border-radius: 30px;
}

.fundo-escuro {
  background-color: #14243d;
}

.options-footer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.options-footer a {
  color: white;
  text-decoration: none;
}

.options-footer a:hover {
  text-decoration: underline;
}

.options-footer-img {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 5%;
  padding: 0;
  margin: 0;
}

.options-rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 5%;
}

.options-rodape a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.options-rodape a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
  .options-rodape {
    font-size: 11px;
  }
}

.options-pagamentos-footer {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.options-pagamentos-footer li {
  background-color: white;
  margin: 5px;
  width: 30px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
